{% extends 'parent.twig' %}

{% block setup %}
    {{ set(this, 'title', 'Список ' ~ modelTitleForms[2]) }}
{% endblock %}

{% block buttons %}
    <a class="btn btn-primary" href="{{ path(['create']) }}">
        <span class="glyphicon glyphicon-plus"></span>Добавить {{ modelTitleForms[0] }}
    </a>
{% endblock %}

{% block content %}
    {{ gridView_widget({
        dataProvider: dataProvider,
        filterModel: searchModel,
        columns: tableColumns,
        layout: '{summary}\n<div class="table-responsive">{items}</div>\n{pager}',
        tableOptions: {
            class: 'table table-striped table-condensed',
        }
    }) }}
{% endblock %}
