{% extends '@madmin/layouts/parent.twig' %}

{% block setup %}
    {{ set(this, 'title', 'Список ' ~ modelTitleForms[2]) }}
{% endblock %}

{% block buttons %}
    {% if not ('create' in disabledActions) %}
    {{ html.a('<span class="glyphicon glyphicon-plus"></span>Добавить ' ~ modelTitleForms[0],
        path(['create']), { class: 'btn btn-primary' }) | raw }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ use('kartik/grid/GridView') }}
    {{ gridView_widget({
        dataProvider: dataProvider,
        filterModel: searchModel,
        columns: tableColumns,
        bordered: false,
        condensed: true,
        export: false,
        resizableColumns: false,
    }) }}
{% endblock %}
