{% block setup %}{% endblock %}
{{ use('e96/madmin/MAdminAsset') }}
{{ register_m_admin_asset() }}

<div>
    <h1>{% block title %}{{ this.title }}{% endblock %}</h1>
    {% block alerts %}
        {% for key, text in app.session.getAllFlashes(true) %}
            {{ alert_widget({
                options: {
                    class: 'alert-' ~ key,
                },
                body: text
            }) }}
        {% endfor %}
    {% endblock %}
    <p>
        {% block buttons %}{% endblock %}
    </p>

    {% block content %}{% endblock %}
</div>
